.login-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.login-header{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login-header img {
    width: 100px;
}

.login-header h1{
    color: #333;
    font-size: 1.5em;
}
.login-header p{
    color: #333;   
}

.login-input {
    border: 2px solid #333;
    border-radius: 8px;
    color:#333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    width: 100%;
    outline: none;
    padding: 10px;
}

.login-button {
    background: linear-gradient(90deg, #6ab982 0%, #22a059 100%);
    /*background-color: #33ac67; */  
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    padding: 10px;
    width: 100%;

}

.login-button:disabled{
    background: #d3cfcf;
    cursor: auto;
}