*{font-family: arial;}

header{
    color: white;
    text-align: center;
}

body{
    background-image: linear-gradient(#0000006b,#0000006b),url(escola.jpg);
    padding-top: 100px;
    background-position: center;
    background-repeat: repeat;
    background-size:cover;
}

section{
    background-image: url("https://img.freepik.com/vetores-premium/folha-de-papel-de-caderno-em-branco-com-linhas_77417-1591.jpg");
    border-radius: 10px;
    box-shadow: 5px 5px 10px #00000098;
    width: 346px;
    
    margin: auto;
    padding: 1px 0px 3px 5px; 
    border: solid 1px #45017575;
}

.digite{
    width: 150px;
    border-radius: 5px;
    border: solid 1px #7dc6f7;
    background: #e9e9e9;
}

.botao{
    border: solid 1px #7dc6f7;
    border-radius: 5px;
    background-color: #fdfffd18;
    cursor: pointer;
}
.botao:hover{
    color:white;
    background-color:#0289f786;
    transition: 0.3s;
}

select{
    
    padding-top: 5px;
    border: solid 1px #fefcff00;
    background-color: #fdfdfd00;
    
}

div{
    font-family: arial;
}

footer{
    color: white;
    font-style: italic;
    text-align: center;

}